{{- $prev := .PrevInSection -}}
{{- $next := .NextInSection -}}
{{- if or $prev $next }}
<div class="prev-next-area">
  {{- if $prev }}
  <a class="left-prev" href="{{ $prev.RelPermalink }}" title="previous page">
    <i class="fa-solid fa-angle-left"></i>
    <div class="prev-next-info">
      <p class="prev-next-subtitle">previous</p>
      <p class="prev-next-title">{{ $prev.Title }}</p>
    </div>
  </a>
  {{- end }}
  {{- if $next }}
  <a class="right-next" href="{{ $next.RelPermalink }}" title="next page">
    <div class="prev-next-info">
      <p class="prev-next-subtitle">next</p>
      <p class="prev-next-title">{{ $next.Title }}</p>
    </div>
    <i class="fa-solid fa-angle-right"></i>
  </a>
  {{- end }}
</div>
{{- end }}
