<section class="working-groups">
     <div class="wrapper">
         <div class="grid">
             <div class="panel">
                 <img src="/images/saltmanbw-1.jpg" alt="">
                 <div class="group-text">
                     <h2>Salt Formulas<br>Working Groups</h2>
                     <p class="subtitle">Meets the 2nd and 4th Tuesday<br>Monthly  9-10 AM MDT and 3-4 PM UTC</p>
                 </div>
                 <div class="group-links">
                     <p><a href="https://vmware.zoom.us/j/98009043675?pwd=cm0rOXNZL0lrVFlzZHZkSUprVnZ6dz09">Zoom Meeting ID</a><br>
                         <a href="https://github.com/saltstack-formulas">You can find details: github.com/saltstack-formulas</a><br>
                         <a href="https://github.com/myii">Captain: https://github.com/myii</a><br>
                         <a href="https://saltstackcommunity.slack.com/archives/C7LG8SV54">Community Slack channel: #formulas</a>
                     </p>
                 </div>
             </div>
             <div class="panel">
                 <img src="/images/saltmanbw-2.jpg" alt="">
                 <div class="group-text">
                     <h2>Windows Working Group</h2>
                     <p class="subtitle">Meets the 3rd Thursday Monthly<br>10-11 AM MDT and 4-5 PM UTC</p>
                 </div>
                 <div class="group-links">
                     <p><a href="https://vmware.zoom.us/s/92211190594">Zoom Meeting ID</a><br>
                         <a href="https://github.com/saltstack/salt/projects/19">Project Board</a> and Group <a href="https://github.com/saltstack/community/tree/master/working_groups/wg-Windows/meeting-notes">Meeting Notes</a><br>
                         <a href="https://github.com/twangboy">Captain: https://github.com/twangboy</a><br>
                         <a href="https://saltstackcommunity.slack.com/messages/C7U9FLK8S">Community Slack channel: #windows</a>
                     </p>
                 </div>
             </div>
             <div class="panel">
                 <img src="/images/saltmanbw-3.jpg" alt="">
                 <div class="group-text">
                     <h2>idem-Cloud<br>Working Group</h2>
                     <p class="subtitle">Asynchronous work can be found by contacting the Captain</p>
                 </div>
                 <div class="group-links">
                     <p><a href="https://github.com/Akm0d">Captain: https://github.com/Akm0d</a><br>
                         <a href="https://saltstackcommunity.slack.com/archives/C014CSTAZPS">Community Slack channel: #idem-cloud</a>
                     </p>
                 </div>
             </div>
             <div class="panel">
                 <img src="/images/saltmanbw-4.jpg" alt="">
                 <div class="group-text">
                     <h2>MacOS Working<br>Group</h2>
                     <p class="subtitle">Meets the 3rd Tuesday <br>Monthly 11:30-12:30 PM MDT and 530-6:30 PM UTC</p>
                 </div>
                 <div class="group-links">
                     <p><a href="https://vmware.zoom.us/s/95732069361">Zoom Meeting ID</a><br>
                         <a href="https://github.com/saltstack/salt/projects/18">Project Board</a><br>
                         <a href="https://github.com/weswhet">Captain: https://github.com/weswhet</a><br>
                         Community Slack channel: #macos
                     </p>
                 </div>
             </div>
             <div class="panel">
                 <img src="/images/saltmanbw-5.jpg" alt="">
                 <div class="group-text">
                     <h2>Security <br>Working Group</h2>
                     <p class="subtitle">Meets the 2nd Wednesday Monthly<br>10-11 AM MDT and 4-5 PM UTC</p>
                 </div>
                 <div class="group-links">
                     <p><a href="https://vmware.zoom.us/j/96603721495?pwd=K2RqbEZhdEtLUkltNS93L0ZncDF6Zz09">Zoom Meeting ID</a><br>
                         <a href="https://github.com/barneysowood">Captain: https://github.com/barneysowood</a><br>
                         Community Slack channel: #security
                     </p>
                 </div>
             </div>
             <div class="panel">
                 <img src="/images/saltmanbw-6.jpg" alt="">
                 <div class="group-text">
                     <h2>K8S Working<br>Group</h2>
                     <p class="subtitle">Meets the 1st Tuesday Monthly<br>10-11 AM MDT and 4-5 PM UTC</p>
                 </div>
                 <div class="group-links">
                     <p><a href="https://vmware.zoom.us/j/99290809704?pwd=VHZMbHN1SUc0WWRpT2dRcDlIN0VaZz09">Zoom Meeting ID</a><br>
                         Captain: coming soon!<br>
                         Community Slack channel: #k8s
                     </p>
                 </div>
             </div>
             <div class="panel">
                 <img src="/images/72DPIxSE-YpDgA_cool.jpg" alt="">
                 <div class="group-text">
                     <h2>Release Working <br>Group</h2>
                     <p class="subtitle">Meets the 2nd Wednesday monthly</p>
                 </div>
                 <div class="group-links">
                     <p><a href="https://vmware.zoom.us/j/96191635553?pwd=TWxCeUpFWWZrS2JFcnpsTlpGOU1IZz09">Zoom Meeting ID</a><br>
                         <a href="https://github.com/saltstack/community/projects/6">Project Board</a><br>
                         <a href="https://github.com/meaksh">Captain: https://github.com/meaksh</a><br>
                         Community Slack channel: #release-process
                     </p>
                 </div>
             </div>
             <div class="panel">
                 <img src="/images/saltmanbw-7.jpg" alt="">
                 <div class="group-text">
                     <h2>Test Working <br>Group</h2>
                     <p class="subtitle">Meets: 1st Thursday Monthly <br>9-10 AM MDT and 3-4 PM UTC</p>
                 </div>
                 <div class="group-links">
                     <p><a href="https://vmware.zoom.us/j/94205185913?pwd=UlJHbURjQTdqeTl3SEN2S1N4NUtUZz09&amp;from=addon">Zoom Meeting ID</a><br>
                         <a href="https://github.com/orgs/saltstack/projects/37">Project Board</a><br>
                         Captain: coming soon!<br>
                         <a href="https://saltstackcommunity.slack.com/archives/C7KKN9P6W">Community Slack channel: #testing</a><br>
                         Meets: Every Thursday 4-5 PM MDT<br>
                         Zoom Meeting ID: Available on #documentation channel or
                     </p>
                 </div>
             </div>
             <div class="panel">
                 <img src="/images/saltmanbw-8.jpg" alt="">
                 <div class="group-text">
                     <h2>Salt Docs Working <br>Group</h2>
                     <p class="subtitle">Meets every Tuesday at 4-5 PM MDT</p>
                 </div>
                 <div class="group-links">
                     <p>Zoom meeting ID available on community calendar at in our Slack channel<br>
                         Captain: Alyssa Rock<br>
                         Community Slack channel: #documentation
                     </p>
                 </div>
             </div>
         </div>
     </div>
 </section>
