{{ define "main" }}
    <main class="blog">
        <section class="blog-banner">
            <img src="{{ "images/blog-banner-e1666724181870.jpg" | relURL }}" alt="">
            <h1>The Blog</h1>
        </section>
        <section class="arch-blog">
            <div class="all-posts">
                <div class="row blog-wrap">
                    <div class="posts">
                        {{ $post_paginator := .Paginate (.Pages) 9 }}
                        {{ range $post_paginator.Pages }}
                            {{ partial "blog/post" . }}
                        {{ end }}
                    </div>
                </div>
                {{ partial "pagination" $post_paginator }}
            </div>
        </section>
    </main>
{{ end }}
