<!DOCTYPE html>
<html>
    <head>
        {{- partial "head" . -}}
    </head>
    <body class="single">
        {{- partial "header" . -}}
        <div class="uk-container">
            <section class="single-content">
                {{ .Content }}
                <div class="single-media-player">
                    {{ partial "media-player" . }}
                </div>
                {{ partial "tags" . }}
            </section>
        </div>
        {{- partial "footer" . -}}
    </body>
</html>
