{{ define "main" }}
    <main class="blog">
        <div class="uk-container">
            <section class="tag-content">
                <h1>Tag: {{ .Title | humanize | lower }}</h1>
                <div class="all-posts">
                    <div class="row blog-wrap">
                        <div class="posts">
                            {{ $post_paginator := .Paginate (.Pages) 9 }}
                            {{ range $post_paginator.Pages }}
                                {{ partial "blog/post" . }}
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ partial "pagination" $post_paginator }}
            </section>
        </div>
    </main>
{{ end }}
