<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="stylesheet" type="text/css" href="{{ "css/uikit.min.css" | relURL }}" />
<link rel="stylesheet" type="text/css" href="{{ "css/styles.css" | relURL }}" />
<link rel="stylesheet" type="text/css" href="{{ "css/main.css" | relURL }}" />

<link rel="alternate" type="application/rss+xml" title="RSS Feed for The Hacks" href="https://thehacks.libsyn.com/rss" />
<link rel="alternate" type="application/rss+xml" title="RSS Feed for Salt Blog" href="https://saltproject.io/blog/index.xml" />
<link rel="alternate" type="application/rss+xml" title="RSS Feed for Security Announcements" href="https://saltproject.io/security-announcements/index.xml" />

<script
    src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
    crossorigin="anonymous">
</script>
<script src="{{ "js/uikit.min.js" | relURL }}"></script>
<script src="{{ "js/uikit-icons.min.js" | relURL }}"></script>

<title>Saltproject.io{{ if .Params.title }} - {{ .Params.title }}{{ end }}</title>
