<header class="header">
    <div class="uk-container-large">
        <div class="uk-flex uk-flex-middle uk-justify-sb">
            <div>
                <a href="/">
                    <img width="50" src="/images/logo.svg" alt="Saltproject IO">
                </a>
            </div>
            <div class="uk-visible@l">
                <nav class="uk-navbar">
                    <ul class="uk-navbar-nav">
                        <li class="uk-parent">
                            <a href="#">Media <span uk-icon="icon: chevron-down"></span></a>
                            <div uk-dropdown>
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/the-hacks">The Hacks</a></li>
                                    <li><a href="https://www.youtube.com/playlist?list=PL9svBjLDUl_-yS-Nmlzom_dM81dmF1Ye7" target="_blank">Salt Air</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="uk-parent">
                            <a href="#">Documentation <span uk-icon="icon: chevron-down"></span></a>
                            <div uk-dropdown>
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a target="_blank" href="https://docs.saltproject.io/en/latest/contents.html">Overview</a></li>
                                    <li><a target="_blank" href="https://docs.saltproject.io/salt/user-guide/en/latest/index.html">Salt User Guide</a></li>
                                    <li><a target="_blank" href="https://docs.saltproject.io/en/latest/py-modindex.html">All Salt Modules</a></li>
                                    <li><a target="_blank" href="https://docs.saltproject.io/salt/install-guide/en/latest/topics/salt-supported-operating-systems.html">Salt Platform Support</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="uk-parent">
                            <a href="#">Open Source Projects <span uk-icon="icon: chevron-down"></span></a>
                            <div uk-dropdown>
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="/idem">Idem Project</a></li>
                                    <li><a href="/heist">Heist</a></li>
                                    <li><a href="/pop">Pop</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="uk-parent">
                            <a href="#">Participate <span uk-icon="icon: chevron-down"></span></a>
                            <div uk-dropdown>
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="/working-groups">Working Groups</a></li>
                                    <li><a target="_blank" href="https://gitlab.com/saltstack/pop">Other Projects</a></li>
                                </ul>
                            </div>
                        </li>
                        <!-- <li class="uk-parent">
                            <a href="#">Calendar <span uk-icon="icon: chevron-down"></span></a>
                            <div uk-dropdown>
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a target="_blank" href="#">Calendar</a></li>
                                </ul>
                            </div>
                        </li> -->
                        <li><a href="https://www.saltprojectstore.io/Order/Index?category=SALT&categoryValue=SALT" target="_blank">Salty Store</a></li>
                        <li><a href="https://github.com/saltstack" target="_blank">GitHub</a></li>
                        <li><a href="https://repo.saltproject.io/" target="_blank" class="download">Download</a></li>
                    </ul>
                </nav>
            </div>
            <div class="uk-hidden@l">
                <button uk-toggle="target: #my-id" type="button">
                    <span uk-icon="icon: menu; ratio: 1.3"></span>
                </button>
            </div>
        </div>
    </div>
</header>

<!-- This is the off-canvas -->
<div id="my-id" uk-offcanvas="flip: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <nav class="uk-navbar">
            <ul class="uk-navbar-nav">
                <li class="uk-parent">
                    <a href="#">Media <span uk-icon="icon: chevron-down"></span></a>
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/the-hacks">The Hacks</a></li>
                        <li><a href="https://www.youtube.com/playlist?list=PL9svBjLDUl_-yS-Nmlzom_dM81dmF1Ye7" target="_blank">Salt Air</a></li>
                    </ul>
                </li>
                <li class="uk-parent">
                    <a href="#">Documentation <span uk-icon="icon: chevron-down"></span></a>
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a target="_blank" href="https://docs.saltproject.io/en/latest/contents.html">Overview</a></li>
                        <li><a target="_blank" href="https://docs.saltproject.io/salt/user-guide/en/latest/index.html">Salt User Guide</a></li>
                        <li><a target="_blank" href="https://docs.saltproject.io/en/latest/py-modindex.html">All Salt Modules</a></li>
                    </ul>
                </li>
                <li class="uk-parent">
                    <a href="#">Open Source Projects <span uk-icon="icon: chevron-down"></span></a>
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="/idem">Idem Project</a></li>
                        <li><a href="/heist">Heist</a></li>
                        <li><a href="/pop">Pop</a></li>
                    </ul>
                </li>
                <li class="uk-parent">
                    <a href="#">Participate <span uk-icon="icon: chevron-down"></span></a>
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="/working-groups">Working Groups</a></li>
                        <li><a target="_blank" href="https://gitlab.com/saltstack/pop">Other Projects</a></li>
                    </ul>
                </li>
                <!-- <li class="uk-parent">
                    <a href="#">Calendar <span uk-icon="icon: chevron-down"></span></a>
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a target="_blank" href="#">Calendar</a></li>
                    </ul>
                </li> -->
                <li><a href="https://www.saltprojectstore.io/Order/Index?category=SALT&categoryValue=SALT" target="_blank">Salty Store</a></li>
                <li><a href="https://github.com/saltstack" target="_blank">GitHub</a></li>
                <li><a href="https://repo.saltproject.io/" target="_blank" class="download">Download</a></li>
            </ul>
        </nav>
    </div>
</div>