{{ define "main" }}
    <main>
        <section class="video-hero">
            {{ partial "home/banner" }}
        </section>

        <section class="youtube-embed">
            {{ partial "home/youtube" }}
        </section>

        <section class="two-columns">
            {{ partial "home/two-column-right" }}
        </section>

        <section class="two-columns">
            {{ partial "home/two-column-left" }}
        </section>

        <section class="icon-links">
            {{ partial "home/icon-links" }}
        </section>

        <section class="recent-posts">
            {{ partial "home/recent-posts" }}
        </section>

        <section class="cover-image">
            {{ partial "home/cover" }}
        </section>
    </main>
{{ end }}
