<section class="arch-blog">
    <div class="all-posts">
       <div class="row blog-wrap">
          <div class="posts">
            <!-- Sticky class available -->
            <div class="arch-col">
               <a href="/blog/new-salt-extension-salt-analytics">
                  <div class="post-thumbnail">
                     <img src="/images/logo.svg" alt="Hacks Logo">									
                  </div>
                  <div class="post-meta">
                     <div class="flex">
                        <span>April 28, 2023</span>
                        <span>Caleb Beard</span>
                     </div>
                     <h2>New Salt Extension: Salt Analytics (Salt managed data processing pipelines)</h2>
                     <p>The Salt Project team is releasing a new salt extension, salt-analytics-framework...</p>
                     <p class="link">Read More</p>
                  </div>
               </a>
            </div>
            <div class="arch-col">
               <a href="/blog/new-salt-extension-salt-describe">
                  <div class="post-thumbnail">
                     <img src="/images/logo.svg" alt="Hacks Logo">																	
                  </div>
                  <div class="post-meta">
                     <div class="flex">
                        <span>April 27, 2023</span>
                        <span>Megan Wilhite</span>
                     </div>
                     <h2>New Salt Extension: Salt Describe (Automate Generating SLS files)</h2>
                     <p>The Salt project team is releasing a new salt extension salt-describe...</p>
                     <p class="link">Read More</p>
                  </div>
               </a>
            </div>
            <div class="arch-col">
               <a href="/blog/salt-3006-lts-is-available">
                  <div class="post-thumbnail">
                     <img src="/images/logo.svg" alt="Hacks Logo">																	
                  </div>
                  <div class="post-meta">
                     <div class="flex">
                        <span>April 18, 2023</span>
                        <span>Alyssa Rock</span>
                     </div>
                     <h2>Salt 3006 LTS is available</h2>
                     <p>The Salt Project has just released 3006.0 of the Salt 3006 LTS. To download and install Salt 3006...</p>
                     <p class="link">Read More</p>
                  </div>
               </a>
            </div>
             <div class="arch-col">
                <a href="/blog/open-hour-2023-jan-19">
                   <div class="post-thumbnail">
                      <img src="/images/logo.svg" alt="Hacks Logo">																	
                   </div>
                   <div class="post-meta">
                      <div class="flex">
                         <span>January 19, 2023</span>
                         <span>Alyssa Rock</span>
                      </div>
                      <h2>Open Hour 2023-JAN-19</h2>
                      <p>Agenda Open Hour YouTube playlist | Contact us! saltproject@vmware.com General updates and announcements Events Salt Project user group meetups Check...</p>
                      <p class="link">Read More</p>
                   </div>
                </a>
             </div>
             <div class="arch-col">
               <a href="/blog/security-release-of-salt-3005-windows-mac">
                  <div class="post-thumbnail">
                     <img src="/images/logo.svg" alt="Hacks Logo">																	
                  </div>
                  <div class="post-meta">
                     <div class="flex">
                        <span>January 10, 2023</span>
                        <span>Alyssa Rock</span>
                     </div>
                     <h2>Security package update for Windows and Mac 3005</h2>
                     <p>We have released v3005.1-4 packages. This release only impacts the onedir packages and the classic Windows and Mac packages. The...</p>
                     <p class="link">Read More</p>
                  </div>
               </a>
            </div>
            <div class="arch-col">
               <a href="/blog/open-hour-2023-jan-5">
                  <div class="post-thumbnail">
                     <img src="/images/logo.svg" alt="Hacks Logo">																	
                  </div>
                  <div class="post-meta">
                     <div class="flex">
                        <span>January 5, 2023</span>
                        <span>Alyssa Rock</span>
                     </div>
                     <h2>Open Hour 2023-JAN-5</h2>
                     <p>Agenda Open Hour YouTube playlist | Contact us! saltproject@vmware.com General updates and announcements Events Salt Project user group meetups New...</p>
                     <p class="link">Read More</p>
                  </div>
               </a>
            </div>
          </div>
       </div>
       <section class="pagination">
       </section>
    </div>
 </section>