<section class="arch-blog">
    <div class="all-posts">
       <div class="row blog-wrap">
          <div class="posts">
            <!-- Sticky class available -->
             <div class="arch-col">
                <a href="/blog/open-hour-2023-jan-19">
                   <div class="post-thumbnail">
                      <img src="/images/hacks-logo.png" alt="Hacks Logo">																	
                   </div>
                   <div class="post-meta">
                      <div class="flex">
                         <span>January 19, 2023</span>
                         <span>Alyssa Rock</span>
                      </div>
                      <h2>Open Hour 2023-JAN-19</h2>
                      <p>Agenda Open Hour YouTube playlist | Contact us! saltproject@vmware.com General updates and announcements Events Salt Project user group meetups Check...</p>
                      <p class="link">Read More</p>
                   </div>
                </a>
             </div>
             <div class="arch-col">
               <a href="/blog/security-release-of-salt-3005-windows-mac">
                  <div class="post-thumbnail">
                     <img src="/images/hacks-logo.png" alt="Hacks Logo">																	
                  </div>
                  <div class="post-meta">
                     <div class="flex">
                        <span>January 10, 2023</span>
                        <span>Alyssa Rock</span>
                     </div>
                     <h2>Security package update for Windows and Mac 3005</h2>
                     <p>We have released v3005.1-4 packages. This release only impacts the onedir packages and the classic Windows and Mac packages. The...</p>
                     <p class="link">Read More</p>
                  </div>
               </a>
            </div>
            <div class="arch-col">
               <a href="/blog/open-hour-2023-jan-5">
                  <div class="post-thumbnail">
                     <img src="/images/hacks-logo.png" alt="Hacks Logo">																	
                  </div>
                  <div class="post-meta">
                     <div class="flex">
                        <span>January 5, 2023</span>
                        <span>Alyssa Rock</span>
                     </div>
                     <h2>Open Hour 2023-JAN-5</h2>
                     <p>Agenda Open Hour YouTube playlist | Contact us! saltproject@vmware.com General updates and announcements Events Salt Project user group meetups New...</p>
                     <p class="link">Read More</p>
                  </div>
               </a>
            </div>
          </div>
       </div>
       <section class="pagination">
       </section>
    </div>
 </section>