<section class="arch-blog">
    <div class="all-posts">
       <div class="row blog-wrap">
          <div class="posts">
             <div class="arch-col sticky">
                <a href="/blog/cve-retro-artifact-actions-2021-mar/">
                   <div class="post-thumbnail">
                      <img width="800" height="534" src="/images/blog/72DPIx180811_03515.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">																	
                   </div>
                   <div class="post-meta">
                      <div class="flex">
                         <span>April 1, 2021</span>
                         <span>Sage Robins</span>
                      </div>
                      <h2>CVE Retro Artifact - Actions 2021-MAR</h2>
                      <p>If you would like a branded PDF copy of this report please contact us at saltproject@vmware.com Actions Enhance collaboration between …</p>
                      <p class="link">Read More</p>
                   </div>
                </a>
             </div>
             <div class="arch-col">
                <a href="/blog/open-hour-2021-jun-03/">
                   <div class="post-thumbnail">
                      <img width="800" height="534" src="/images/blog/72DPIx180811_03515.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">																	
                   </div>
                   <div class="post-meta">
                      <div class="flex">
                         <span>June 24, 2021</span>
                         <span>Sage Robins</span>
                      </div>
                      <h2>Open Hour 2021-JUN-03</h2>
                      <p>Agenda General Updates Release Updates Q&amp;A YouTube Video | Open Hour YouTube playlist | Contact us! saltproject@vmware.com General Updates and …</p>
                      <p class="link">Read More</p>
                   </div>
                </a>
             </div>
             <div class="arch-col">
                <a href="/blog/3003-1/">
                   <div class="post-thumbnail">
                      <img width="800" height="534" src="/images/blog/72DPIxSE-YpDgA_cool.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" >																	
                   </div>
                   <div class="post-meta">
                      <div class="flex">
                         <span>June 23, 2021</span>
                         <span>Sage Robins</span>
                      </div>
                      <h2>Bugfix Release of Salt 3003.1</h2>
                      <p>Release notes can be found in the docs, here:&nbsp;https://docs.saltproject.io/en/3003/topics/releases/3003.1.html Changelogs can be found in GitHub, here:&nbsp;https://github.com/saltstack/salt/blob/v3003.1/CHANGELOG.md Instructions for installing the …</p>
                      <p class="link">Read More</p>
                   </div>
                </a>
             </div>
             <div class="arch-col">
                <a href="/blog/open-hour-2021-may-27/">
                   <div class="post-thumbnail">
                      <img width="800" height="534" src="/images/blog/72DPIx180811_03515.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">																	
                   </div>
                   <div class="post-meta">
                      <div class="flex">
                         <span>June 2, 2021</span>
                         <span>Sage Robins</span>
                      </div>
                      <h2>Open Hour 2021-MAY-27</h2>
                      <p>Agenda General Updates Release Updates Q&amp;A YouTube Video | Open Hour YouTube playlist | Contact us! saltproject@vmware.com General Updates and …</p>
                      <p class="link">Read More</p>
                   </div>
                </a>
             </div>
             <div class="arch-col">
                <a href="/blog/open-hour-2021-may-20/">
                   <div class="post-thumbnail">
                      <img width="800" height="533" src="/images/blog/72DPIxGettyImages-1207392311.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" >																	
                   </div>
                   <div class="post-meta">
                      <div class="flex">
                         <span>May 20, 2021</span>
                         <span>Sage Robins</span>
                      </div>
                      <h2>Open Hour 2021-MAY-20</h2>
                      <p>Agenda General Updates Release Updates Q&amp;A YouTube Video | Open Hour YouTube playlist | Contact us! saltproject@vmware.com General Updates and …</p>
                      <p class="link">Read More</p>
                   </div>
                </a>
             </div>
             <div class="arch-col">
                <a href="/blog/open-hour-2021-may-13/">
                   <div class="post-thumbnail">
                      <img width="800" height="533" src="/images/blog/72DPIxGettyImages-1207392311.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" >																	
                   </div>
                   <div class="post-meta">
                      <div class="flex">
                         <span>May 19, 2021</span>
                         <span>Sage Robins</span>
                      </div>
                      <h2>Open Hour 2021-MAY-13</h2>
                      <p>Agenda General Updates Release Updates Q&amp;A Salt Enhancement Proposals Working Groups and Clinics YouTube Video Open Hour YouTube playlist Contact …</p>
                      <p class="link">Read More</p>
                   </div>
                </a>
             </div>
             <div class="arch-col">
                <a href="/blog/the-salt-project-creates-a-new-security-working-group/">
                   <div class="post-thumbnail">
                      <img width="800" height="533" src="/images/blog/72DPIxGettyImages-1143790723.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">																	
                   </div>
                   <div class="post-meta">
                      <div class="flex">
                         <span>May 19, 2021</span>
                         <span>slangadmin</span>
                      </div>
                      <h2>The Salt Project Creates a New Security Working Group</h2>
                      <p>We are excited to announce the creation of a new Security Working Group. The Salt Project has a number of …</p>
                      <p class="link">Read More</p>
                   </div>
                </a>
             </div>
             <div class="arch-col">
                <a href="/blog/repo-and-bootstrap-changes/">
                   <div class="post-thumbnail">
                      <img width="800" height="533" src="/images/blog/72DPIxGettyImages-1020041426.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">																	
                   </div>
                   <div class="post-meta">
                      <div class="flex">
                         <span>May 19, 2021</span>
                         <span>Sage Robins</span>
                      </div>
                      <h2>Repo and Bootstrap Changes</h2>
                      <p>TL;DR Use saltproject.io domains Use https for installing Salt Stop using repo rpms and $releasever in your .repo files. Several …</p>
                      <p class="link">Read More</p>
                   </div>
                </a>
             </div>
             <div class="arch-col">
                <a href="/blog/open-hour-2021-may-06/">
                   <div class="post-thumbnail">
                      <img width="800" height="533" src="/images/blog/72DPIxGettyImages-1210640953.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">																	
                   </div>
                   <div class="post-meta">
                      <div class="flex">
                         <span>May 7, 2021</span>
                         <span>Sage Robins</span>
                      </div>
                      <h2>Open Hour 2021-MAY-06</h2>
                      <p>Agenda General Updates Release Updates Q&amp;A Salt Enhancement Proposals Working Groups and Clinics YouTube Video Open Hour YouTube playlist Contact …</p>
                      <p class="link">Read More</p>
                   </div>
                </a>
             </div>
             <div class="arch-col">
                <a href="/blog/open-hour-2021-apr-29/">
                   <div class="post-thumbnail">
                      <img width="800" height="533" src="/images/blog/72DPIxGettyImages-1210640953.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">																	
                   </div>
                   <div class="post-meta">
                      <div class="flex">
                         <span>May 1, 2021</span>
                         <span>Sage Robins</span>
                      </div>
                      <h2>Open Hour 2021-APR-29</h2>
                      <p>Agenda General Updates Release Updates Salt Enhancement Proposals Working Groups and Clinics YouTube Video Open Hour YouTube playlist General Updates …</p>
                      <p class="link">Read More</p>
                   </div>
                </a>
             </div>
          </div>
       </div>
       <section class="pagination">
       </section>
    </div>
 </section>