<div class="arch-col">
    <a href="{{ .Permalink }}">
        <div class="post-thumbnail">
            {{ if .Params.image }}
                <img src="{{ .Params.image | relURL }}" alt="{{ .Params.image_alt }}">
            {{ else }}
                <img src="/images/logo.svg" alt="Salt Logo">
            {{ end }}
        </div>
        <div class="post-meta">
            <div class="flex">
                {{ if .Params.date }}
                    <span>{{ dateFormat "Jan 2, 2006" .Params.date }}</span>
                {{ end }}
                {{ if .Params.author }}
                    <span>{{ .Params.author }}</span>
                {{ end }}
            </div>
            <h2>{{ .Params.title }}</h2>
            <p>{{ .Summary }}</p>
            <p class="link">Read More</p>
        </div>
    </a>
</div>
