<!--
<video playsinline="" autoplay="" muted="" loop="" id="bgvid">
    <source src="{{ "video/header_Option1.mp4" | relURL }}" type="video/mp4">
</video>
<div class="video-text">
    <h1>Welcome to Salt Project</h1>
    <p>The largest, friendliest, and most active open source community in the world.</p>
    <a href="https://docs.saltproject.io/salt/install-guide/en/latest/" class="btn outline">Get Started</a>
</div>
-->
<section class="blog-banner">
    <img src="{{ "images/blog-banner-e1666724181870.jpg" | relURL }}" alt="">
    <h1>Welcome to Salt Project</h1>
</section>
