<div class="bg" style="background: url(/images/enterprise-bg.jpg) no-repeat center center / cover;"></div>
<div class="uk-container">
    <div class="uk-width-1-2@s">
        <h2>Looking for<br>Enterprise-ready Salt?</h2>
        <p>Good news! Salt is now fully integrated into VMware vRealize Automation. Learn more about how Salt powers VMware’s leading automation platform and how you can harness the power of Salt across the enterprise.</p>
        <a class="btn outline" href="https://www.vmware.com/products/vrealize-automation.html">Learn More</a>
    </div>
</div>