<div class="uk-container">
    <div class="uk-child-width-1-5@m uk-child-width-1-2 uk-text-center" uk-grid>
        <div>
            <a href="https://join.slack.com/t/saltstackcommunity/shared_invite/zt-3av8jjyf-oBQ2M0vhXOhJpNpRkPWBvg" target="_blank" rel=" noreferrer noopener">
                <img loading="lazy" src="/images/slack.png" alt="Slack Icon" />
                <p>Slack Channel</p>
            </a>
        </div>
        <div>
            <a href="https://github.com/saltstack" target="_blank" rel=" noreferrer noopener">
                <img loading="lazy" src="/images/github.png" alt="GitHub Icon" />
                <p>GitHub Channel</p>
            </a>
        </div>
        <div>
            <a href="https://groups.google.com/forum/#!forum/salt-users" target="_blank" rel=" noreferrer noopener">
                <img loading="lazy" src="/images/mail.png" alt="Mail Icon" />
                <p>Mailing List</p>
            </a>
        </div>
        <div>
            <a href="https://web.libera.chat/#salt" target="_blank" rel=" noreferrer noopener">
                <img loading="lazy" src="/images/network.png" alt="Network Icon" />
                <p>IRC Network</p>
            </a>
        </div>
        <!-- TODO Currently no security announcements page(s)
        <div>
            <a href="https://saltproject.io/security_announcements" target="_blank" rel=" noreferrer noopener">
                <img loading="lazy" src="/images/security.png" alt="Security Icon" />
                <p>Security Updates</p>
            </a>
        </div>
        -->
    </div>
</div>