<div class="uk-container">
    <div class="uk-child-width-1-5@m uk-child-width-1-2 uk-text-center" uk-grid>
        <div>
            <a href="https://discord.gg/J7b7EscrAs" target="_blank" rel=" noreferrer noopener">
                <img loading="lazy" src="{{ "images/discord.png" | relURL }}" alt="Discord Icon" />
                <p>Discord Server</p>
            </a>
        </div>
        <div>
            <a href="https://github.com/saltstack" target="_blank" rel=" noreferrer noopener">
                <img loading="lazy" src="{{ "images/github.png" | relURL }}" alt="GitHub Icon" />
                <p>GitHub Channel</p>
            </a>
        </div>
        <div>
            <a href="https://groups.google.com/forum/#!forum/salt-users" target="_blank" rel=" noreferrer noopener">
                <img loading="lazy" src="{{ "images/mail.png" | relURL }}" alt="Mail Icon" />
                <p>Mailing List</p>
            </a>
        </div>
        <div>
            <a href="https://saltproject.io/security-announcements/" target="_blank" rel=" noreferrer noopener">
                <img loading="lazy" src="{{ "images/security.png" | relURL }}" alt="Security Icon" />
                <p>Security Updates</p>
            </a>
        </div>
    </div>
</div>
