
<div class="uk-container">
    <div class="text-center">
        <h2>Recent Blogs</h2>
    </div>
    <div class="posts">
        {{- range ( where site.RegularPages "Section" "blog" | first 3 ) }}
            <div class="post">
                <div class="post-recent-thumbnail">
                    {{ if .Params.image }}
                        <img src="{{ .Params.image | relURL }}" alt="{{ .Params.image_alt }}">
                    {{ else }}
                        <img src="/images/logo.svg" alt="Salt Logo">
                    {{ end }}
                </div>
                <h3>{{ .Title }}</h3>
                {{ if .Params.date }}
                    <p class="recent-post-date">{{ dateFormat "Jan 2, 2006" .Params.date }}</p>
                {{ end }}
                <p>{{ .Params.summary }}</p>
                <a href="{{ .Params.url | relURL }}" class="plain">Read More</a>
            </div>
        {{ end }}
    </div>
    <div class="uk-text-center post-footer">
        <a href="{{ "blog" | relURL }}" class="btn green">View All Posts</a>
    </div>
</div>
`