
<div class="uk-container">
    <div class="text-center">
        <h2>Recent Blogs</h2>
    </div>
    <div class="posts">
        <div class="post">
            <h3>Open Hour 2023-JAN-19</h3>
            <p>Agenda Open Hour YouTube playlist | Contact us! saltproject@vmware.com General updates and announcements Events Salt Project user group meetups Check...</p>
            <a href="/blog/open-hour-2023-jan-19" class="plain">Read More</a>
        </div>
        <div class="post">
            <h3>Security package update for Windows and Mac 3005</h3>
            <p>We have released v3005.1-4 packages. This release only impacts the onedir packages and the classic Windows and Mac packages. The...</p>
            <a href="/blog/security-release-of-salt-3005-windows-mac" class="plain">Read More</a>
        </div>
        <div class="post">
            <h3>Open Hour 2023-JAN-5</h3>
            <p>Agenda Open Hour YouTube playlist | Contact us! saltproject@vmware.com General updates and announcements Events Salt Project user group meetups New...</p>
            <a href="/blog/open-hour-2023-jan-5" class="plain">Read More</a>
        </div>
    </div>
    <div class="uk-text-center post-footer">
        <a href="/blog" class="btn green">View All Posts</a>
    </div>
</div>