
<div class="uk-container">
    <div class="text-center">
        <h2>Recent Blogs</h2>
    </div>
    <div class="posts">
        <div class="post">
            <h3>New Salt Extension: Salt Analytics (Salt managed data processing pipelines)</h3>
            <p>The Salt Project team is releasing a new salt extension, salt-analytics-framework, to allow users to run data processing pipelines alongside Salt...</p>
            <a href="/blog/new-salt-extension-salt-analytics" class="plain">Read More</a>
        </div>
        <div class="post">
            <h3>New Salt Extension: Salt Describe (Automate Generating SLS files)</h3>
            <p>The Salt project team is releasing a new salt extension salt-describe to create templates...</p>
            <a href="/blog/new-salt-extension-salt-describe" class="plain">Read More</a>
        </div>
        <div class="post">
            <h3>Salt 3006 LTS is available</h3>
            <p>The Salt Project has just released 3006.0 of the Salt 3006 LTS...</p>
            <a href="/blog/salt-3006-lts-is-available" class="plain">Read More</a>
        </div>
    </div>
    <div class="uk-text-center post-footer">
        <a href="/blog" class="btn green">View All Posts</a>
    </div>
</div>