<div class="uk-container">
    <div class="panel">
        <div class="grid">
            <div class="shop-image">
                <img src="{{ "images/shop.jpg" | relURL }}" alt="Shop T-shirt">
            </div>
            <div class="shop-text">
                <h2>Shop Salt</h2>
                <p>Fulfill your SWAG needs in our Salty store! <br>Choose from t-shirts, hats, stickers, and more.</p>
                <a href="https://www.saltprojectstore.io/Order/Index?category=SALT&categoryValue=SALT" target="_blank" class="btn green">Shop Now</a>
            </div>
        </div>
    </div>
</div>
