<div class="row">
    <div class="grid right">
        <div class="has-text is-left">
            <h2>What is Salt?</h2>
            <p>
                It's automation, infrastructure management. It's data-driven
                orchestration and remote execution. It's configuration management.
                It's so much more.
                <br>
                <a href="https://docs.saltproject.io/en/master/topics/tutorials/walkthrough.html#salt-in-10-minutes/" target="_blank" rel="noopener">Understand Salt in 10 minutes.</a></p>
                <a href="https://docs.saltproject.io/salt/install-guide/en/latest/" class="btn green">Get Started</a>
            </p>
        </div>
        <div class="has-image">
            <img src="{{ "images/what-is-salt.png" | relURL }}" alt="What is Salt">
        </div>
    </div>
</div>
