
<div class="row">
    <div class="grid left">
        <div class="has-image">
            <img src="/images/learn-salt.png" alt="Learn Salt">
        </div>
        <div class="has-text is-right">
            <h2>Learn Salt</h2>
            <p>Get hands on with Salt with nothing to install and step-by-step instructions using the <a href="https://docs.saltproject.io/salt/user-guide/en/latest/index.html" target="_blank" rel="noopener">Salt User Guide.</a> Dive into the details with <a href="https://docs.saltproject.io/en/latest/" target="_blank" rel="noopener">Salt Documentation</a> or <a href="https://www.youtube.com/?gl=US&amp;tab=k1/" target="_blank" rel="noopener">Salt Project YouTube Channel.</a> Learn to automate and secure IT with Salt.</p>
            <a href="https://www.youtube.com/watch?v=Tj2QHLW5UwQ" class="btn green">Salt Workshop</a>
        </div>
    </div>
</div>