<div class="row">
    <div class="panel">
        <div class="video-container">
            <!-- <iframe height="600" src="https://www.youtube.com/embed/PL9svBjLDUl_-XfmQSCgE_uislHD_rRKfu" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <iframe src="https://www.youtube.com/embed/videoseries?list=PL9svBjLDUl_-XfmQSCgE_uislHD_rRKfu" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" height="600" frameborder="0"></iframe>
        </div>
        <div class="video-details">
            <div class="video-text">
                <h2>Salty Content</h2>
                <p>Scroll through Salt videos to learn more and expand your knowledge of the platform. </p>
            </div>
            <div class="video-additional">
                <a href="https://www.youtube.com/watch?v=G4CExfRn5rs">
                    <img decoding="async" src="/images/img1.jpg" alt="Video additional">
                </a>
                <a href="https://www.youtube.com/watch?v=YBgW--PDeic">
                    <img decoding="async" src="/images/img1.jpg" alt="Video additional">
                </a>
                <a href="https://www.youtube.com/watch?v=nfYHEhKLqHg">
                    <img decoding="async" src="/images/img1.jpg" alt="Video additional">
                </a>
            </div>
        </div>
    </div>
</div>