<div class="wrapper">
    <h2>All Episodes</h2>
    <div class="all-pod">
        <div class="all-pod-pad">
            <!-- Example podcast item for main overview page -->
            <div class="pod">
                <div class="pod-inner">
                    <div class="pod-img">
                        <div style="background-image:url(/images/hacks/TheHacks_meta-1024x400.jpg);"></div>
                    </div>
                    <div class="pod-content">
                        <span>July 27, 2021</span>
                        <h3><a href="/the-hacks/episodes/what-is-resource-gravity/">What Is Resource Gravity?</a></h3>
                        <p>
                            Tom wants to talk with Chunga about something called "Resource Gravity". Have you ever heard...
                        </p>
                    </div>
                    <div class="post-player post-player-35561">
                        <div class="hidden">
                            <audio controls="">
                                <source src="https://traffic.libsyn.com/secure/thehacks/HACKS_Resource_Gravity.mp3" type="audio/mp3" />
                            </audio>
                        </div>
                        <div class="audio-player">
                            <div class="controls">
                                <div class="rewind-fifteen">
                                    <img src="/images/minus15.svg" />
                                </div>
                                <div class="play-container">
                                    <div class="toggle-play play">
                                        <img src="/images/play.svg" />
                                        <img src="/images/pause.svg" />
                                    </div>
                                </div>
                                <div class="forward-fifteen">
                                    <img src="/images/plus15.svg" />
                                </div>
                                <div class="timeline">
                                    <div class="progress" style="width: 0%;"></div>
                                    <div class="time">
                                        <div class="current">0:00</div>
                                        <div class="length">39:58</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pod-behind"></div>
            </div>
        </div>
    </div>
</div>
<section class="pagination">

</section>
