<div class="wrapper">
    <h2>All Episodes</h2>
    <div class="all-pod">
        <div class="all-pod-pad">
            <div id="35561" class="pod">
                <div class="pod-inner">
                    <div class="pod-img">
                        <div style="background-image:url(/images/hacks/TheHacks_meta-1024x400.jpg);"></div>
                    </div>
                    <div class="pod-content">
                        <span>July 27, 2021</span>
                        <h3><a href="/the-hacks/episodes/what-is-resource-gravity/">What Is Resource Gravity?</a></h3>
                        <p>
                            Tom wants to talk with Chunga about something called "Resource Gravity". Have you ever heard...
                        </p>
                    </div>
                    <div class="post-player post-player-35561">
                        <div class="hidden">
                            <audio controls="">
                                <source src="https://traffic.libsyn.com/secure/thehacks/HACKS_Resource_Gravity.mp3" type="audio/mp3" />
                            </audio>
                        </div>
                        <div class="audio-player">
                            <div class="controls">
                                <div class="rewind-fifteen">
                                    <img src="/images/minus15.svg" />
                                </div>
                                <div class="play-container">
                                    <div class="toggle-play play">
                                        <img src="/images/play.svg" />
                                        <img src="/images/pause.svg" />
                                    </div>
                                </div>
                                <div class="forward-fifteen">
                                    <img src="/images/plus15.svg" />
                                </div>
                                <div class="timeline">
                                    <div class="progress" style="width: 0%;"></div>
                                    <div class="time">
                                        <div class="current">0:00</div>
                                        <div class="length">39:58</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pod-behind"></div>
            </div>
            <div id="35559" class="pod">
                <div class="pod-inner">
                    <div class="pod-img">
                        <div style="background-image:url(/images/hacks/01Episode-TheHacks-1024x400.jpg);"></div>
                    </div>
                    <div class="pod-content">
                        <span>July 20, 2021</span>
                        <h3><a href="/the-hacks/episodes/the-philosophy-of-salt/">The Philosophy of Salt</a></h3>
                        <p>
                            We all know Tom Hatch is the guy who created Salt. Salt is arguably one...
                        </p>
                    </div>
                    <div class="post-player post-player-35559">
                        <div class="hidden">
                            <audio controls="">
                                <source src="https://traffic.libsyn.com/secure/thehacks/HACKS_SALT_PHILOSOPHY.mp3" type="audio/mp3" />
                            </audio>
                        </div>
                        <div class="audio-player">
                            <div class="controls">
                                <div class="rewind-fifteen">
                                    <img src="/images/minus15.svg" />
                                </div>
                                <div class="play-container">
                                    <div class="toggle-play play">
                                        <img src="/images/play.svg" />
                                        <img src="/images/pause.svg" />
                                    </div>
                                </div>
                                <div class="forward-fifteen">
                                    <img src="/images/plus15.svg" />
                                </div>
                                <div class="timeline">
                                    <div class="progress" style="width: 0%;"></div>
                                    <div class="time">
                                        <div class="current">0:00</div>
                                        <div class="length">44:17</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pod-behind"></div>
            </div>
            <div id="35554" class="pod">
                <div class="pod-inner">
                    <div class="pod-img">
                        <div style="background-image:url(/images/hacks/Screen-Shot-2020-12-01-at-2.17.23-PM.png);"></div>
                    </div>
                    <div class="pod-content">
                        <span>July 13, 2021</span>
                        <h3><a href="/the-hacks/episodes/2d-vs-3d-thinking/">2D vs. 3D Thinking</a></h3>
                        <p>
                            In the last episode of The Hacks, Tom Hatch made a reference to a specific...
                        </p>
                    </div>
                    <div class="post-player post-player-35554">
                        <div class="hidden">
                            <audio controls="">
                                <source src="https://traffic.libsyn.com/secure/thehacks/HACKS_2D_VS_3D_THINKING.mp3" type="audio/mp3" />
                            </audio>
                        </div>
                        <div class="audio-player">
                            <div class="controls">
                                <div class="rewind-fifteen">
                                    <img src="/images/minus15.svg" />
                                </div>
                                <div class="play-container">
                                    <div class="toggle-play play">
                                        <img src="/images/play.svg" />
                                        <img src="/images/pause.svg" />
                                    </div>
                                </div>
                                <div class="forward-fifteen">
                                    <img src="/images/plus15.svg" />
                                </div>
                                <div class="timeline">
                                    <div class="progress" style="width: 0%;"></div>
                                    <div class="time">
                                        <div class="current">0:00</div>
                                        <div class="length">33:27</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pod-behind"></div>
            </div>
            <div id="35541" class="pod">
                <div class="pod-inner">
                    <div class="pod-img">
                        <div style="background-image:url(/images/hacks/Screen-Shot-2020-05-05-at-11.34.51-AM.png);"></div>
                    </div>
                    <div class="pod-content">
                        <span>July 7, 2021</span>
                        <h3><a href="/the-hacks/episodes/the-tragedy-of-being-normal/">The Tragedy of Being Normal</a></h3>
                        <p>
                            Recently, Tom Hatch was invited to the U.S. Army War College for a seminar focused...
                        </p>
                    </div>
                    <div class="post-player post-player-35541">
                        <div class="hidden">
                            <audio controls="">
                                <source src="https://traffic.libsyn.com/secure/thehacks/HACKS_Tragedy_of_Being_Normal.mp3" type="audio/mp3" />
                            </audio>
                        </div>
                        <div class="audio-player">
                            <div class="controls">
                                <div class="rewind-fifteen">
                                    <img src="/images/minus15.svg" />
                                </div>
                                <div class="play-container">
                                    <div class="toggle-play play">
                                        <img src="/images/play.svg" />
                                        <img src="/images/pause.svg" />
                                    </div>
                                </div>
                                <div class="forward-fifteen">
                                    <img src="/images/plus15.svg" />
                                </div>
                                <div class="timeline">
                                    <div class="progress" style="width: 0%;"></div>
                                    <div class="time">
                                        <div class="current">0:00</div>
                                        <div class="length">38:52</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pod-behind"></div>
            </div>
            <div id="35532" class="pod">
                <div class="pod-inner">
                    <div class="pod-img">
                        <div style="background-image:url(/images/hacks/TheHacks_IOT2-1024x400.jpg);"></div>
                    </div>
                    <div class="pod-content">
                        <span>June 29, 2021</span>
                        <h3><a href="/the-hacks/episodes/developers-and-unsustainable-stress/">Developers and Unsustainable STRESS!!</a></h3>
                        <p>
                            Developers are under constant pressure. Pressure to innovate, pressure to maintain, pressure to create something...
                        </p>
                    </div>
                    <div class="post-player post-player-35532">
                        <div class="hidden">
                            <audio controls="">
                                <source src="https://traffic.libsyn.com/secure/thehacks/HACKS_STRESSED_DEV.mp3" type="audio/mp3" />
                            </audio>
                        </div>
                        <div class="audio-player">
                            <div class="controls">
                                <div class="rewind-fifteen">
                                    <img src="/images/minus15.svg" />
                                </div>
                                <div class="play-container">
                                    <div class="toggle-play play">
                                        <img src="/images/play.svg" />
                                        <img src="/images/pause.svg" />
                                    </div>
                                </div>
                                <div class="forward-fifteen">
                                    <img src="/images/plus15.svg" />
                                </div>
                                <div class="timeline">
                                    <div class="progress" style="width: 0%;"></div>
                                    <div class="time">
                                        <div class="current">0:00</div>
                                        <div class="length">41:57</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pod-behind"></div>
            </div>
            <div id="35518" class="pod">
                <div class="pod-inner">
                    <div class="pod-img">
                        <div style="background-image:url(/images/hacks/Screen-Shot-2020-10-20-at-2.12.02-PM.png);"></div>
                    </div>
                    <div class="pod-content">
                        <span>June 22, 2021</span>
                        <h3><a href="/the-hacks/episodes/order-from-chaos/">Order From Chaos</a></h3>
                        <p>
                            Did you know that every operating system is born from the chaos of open source...
                        </p>
                    </div>
                    <div class="post-player post-player-35518">
                        <div class="hidden">
                            <audio controls="">
                                <source src="https://traffic.libsyn.com/secure/thehacks/HACKS_ORDER_FROM_CHAOS.mp3" type="audio/mp3" />
                            </audio>
                        </div>
                        <div class="audio-player">
                            <div class="controls">
                                <div class="rewind-fifteen">
                                    <img src="/images/minus15.svg" />
                                </div>
                                <div class="play-container">
                                    <div class="toggle-play play">
                                        <img src="/images/play.svg" />
                                        <img src="/images/pause.svg" />
                                    </div>
                                </div>
                                <div class="forward-fifteen">
                                    <img src="/images/plus15.svg" />
                                </div>
                                <div class="timeline">
                                    <div class="progress" style="width: 0%;"></div>
                                    <div class="time">
                                        <div class="current">0:00</div>
                                        <div class="length">37:53</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pod-behind"></div>
            </div>
        </div>
    </div>
</div>
<section class="pagination">

</section>
