<div class="recent-pod row">
	<h2>Most Recent Episode</h2>

	<div class="recent-pod-wrap">
		<div class="pod">
			<div class="pod-inner">
				<div class="pod-img">
					<div style="background-image:url(/images/hacks/secopslies_thehacks-1024x400.jpg);"></div>
				</div>
				<div class="pod-content">
					<span>August 10, 2021</span>
					<h3><a href="/the-hacks/episodes/we-have-a-big-problem-the-tech-industry-cant-find-enough-talent">We Have a BIG Problem! The Tech Industry Can't Find Enough Talent!</a></h3>
					<p>
						You've seen it happening across all industries--companies are having substantial staffing problems and labor shortages....
					</p>
				</div>
				<div class="post-player post-player-35569">
					<div class="hidden">
						<audio controls="">
							<source src="https://traffic.libsyn.com/secure/thehacks/HACKS_LABOR_SHORTAGE.mp3" type="audio/mp3" />
						</audio>
					</div>
					<div class="audio-player">
						<div class="controls">
							<div class="rewind-fifteen">
								<img src="/images/minus15.svg" />
							</div>
							<div class="play-container">
								<div class="toggle-play play">
									<img src="/images/play.svg" />
									<img src="/images/pause.svg" />
								</div>
							</div>
							<div class="forward-fifteen">
								<img src="/images/plus15.svg" />
							</div>
							<div class="timeline">
								<div class="progress" style="width: 0%;"></div>
								<div class="time">
									<div class="current">0:00</div>
									<!-- <div class="divider">/</div> -->
									<div class="length">47:11</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pod-behind"></div>
		</div>
	</div>
</div>
