<div class="recent-pod row">
	<h2>Most Recent Episode</h2>
	<div class="recent-pod-wrap">
		<!-- Example podcast item for main overview page -->
		<div class="pod">
			<div class="pod-inner">
				<div class="pod-img">
					<div style="background-image:url(/images/hacks/most-powerful-chips.png);"></div>
				</div>
				<div class="pod-content">
					<span>June 21, 2023</span>
					<h3><a href="/the-hacks/powerful-chip-makers">The Most Powerful Chip Makers Are??? (Tom Takes a Victory Lap)</a></h3>
					<p>
						Chunga is doing this episode of The Hacks for one reason and one reason only. It's purely so Tom can take a victory lap!
					</p>
				</div>
				<div class="post-player post-player-35569">
					<div class="hidden">
						<audio controls="">
							<source src="https://traffic.libsyn.com/thehacks/HACKS_AMD_INFOGRAPHIC.m4a" type="audio/m4a" />
						</audio>
					</div>
					<div class="audio-player">
						<div class="controls">
							<div class="rewind-fifteen">
								<img src="/images/minus15.svg" />
							</div>
							<div class="play-container">
								<div class="toggle-play play">
									<img src="/images/play.svg" />
									<img src="/images/pause.svg" />
								</div>
							</div>
							<div class="forward-fifteen">
								<img src="/images/plus15.svg" />
							</div>
							<div class="timeline">
								<div class="progress" style="width: 0%;"></div>
								<div class="time">
									<div class="current">0:00</div>
									<!-- <div class="divider">/</div> -->
									<div class="length">41:45</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pod-behind"></div>
		</div>
	</div>
</div>
