<div class="recommend-pod row">
	<h2>Recommended Episodes</h2>
	<div>
		<!-- Example podcast item for main overview page -->
		<div class="pod">
			<div class="pod-inner">
				<div class="pod-img">
					<div style="background-image:url(/images/hacks/vr-headsets.webp);"></div>
				</div>
				<div class="pod-content">
					<span>June 13, 2023</span>
					<h3><a href="/the-hacks/vr-headsets-why-tech-wont-just-let-them-go">VR Headsets, Why Tech Won't Just Let Them Go.</a></h3>
					<p>
						Tom is back from phase one of his paternity leave!  Chunga couldn't be happier, to have Tom back. He's also bouncing off....
					</p>
				</div>
				<div class="post-player">
					<div class="hidden">
						<audio controls="">
							<source src="https://traffic.libsyn.com/thehacks/HACKS_APPLE_VR.m4a" type="audio/m4a" />
						</audio>
					</div>
					<div class="audio-player">
						<div class="controls">
							<div class="rewind-fifteen">
								<img src="/images/minus15.svg" />
							</div>
							<div class="play-container">
								<div class="toggle-play play">
									<img src="/images/play.svg" />
									<img src="/images/pause.svg" />
								</div>
							</div>
							<div class="forward-fifteen">
								<img src="/images/plus15.svg" />
							</div>
							<div class="timeline">
								<div class="progress" style="width: 0%;"></div>
								<div class="time">
									<div class="current">0:00</div>
									<!-- <div class="divider">/</div> -->
									<div class="length">44:05</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pod-behind"></div>
		</div>
		<div class="pod">
			<div class="pod-inner">
				<div class="pod-img">
					<div style="background-image:url(/images/hacks/napster.jpeg);"></div>
				</div>
				<div class="pod-content">
					<span>June 6, 2023</span>
					<h3><a href="/the-hacks/napster-planting-the-seeds-of-chaos">Napster, Planting the Seeds of Chaos!</a></h3>
					<p>
						Tom and Chunga are feeling nostalgic!  Recently, Tom was trying to explain to his daughters that music used to be fairly diffucult...
					</p>
				</div>
				<div class="post-player">
					<div class="hidden">
						<audio controls="">
							<source src="https://traffic.libsyn.com/thehacks/HACKS_NAPSTER_CHAOS.m4a" type="audio/m4a" />
						</audio>
					</div>
					<div class="audio-player">
						<div class="controls">
							<div class="rewind-fifteen">
								<img src="/images/minus15.svg" />
							</div>
							<div class="play-container">
								<div class="toggle-play play">
									<img src="/images/play.svg" />
									<img src="/images/pause.svg" />
								</div>
							</div>
							<div class="forward-fifteen">
								<img src="/images/plus15.svg" />
							</div>
							<div class="timeline">
								<div class="progress" style="width: 0%;"></div>
								<div class="time">
									<div class="current">0:00</div>
									<!-- <div class="divider">/</div> -->
									<div class="length">39:29</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pod-behind"></div>
		</div>
		<div class="pod">
			<div class="pod-inner">
				<div class="pod-img">
					<div style="background-image:url(/images/hacks/mojo-programming-language.png);"></div>
				</div>
				<div class="pod-content">
					<span>May 30th, 2023</span>
					<h3><a href="/the-hacks/the-new-mojo-programming-language">The New Mojo Programming Language. It Looks Cool!</a></h3>
					<p>
						Tom loves learning new programming languages, always has. He even likes learning about the ones that he thinks are--in a word--crap!
					</p>
				</div>
				<div class="post-player">
					<div class="hidden">
						<audio controls="">
							<source src="https://traffic.libsyn.com/thehacks/HACKS_MOJO_PROGRAMMING.m4a" type="audio/m4a" />
						</audio>
					</div>
					<div class="audio-player">
						<div class="controls">
							<div class="rewind-fifteen">
								<img src="/images/minus15.svg" />
							</div>
							<div class="play-container">
								<div class="toggle-play play">
									<img src="/images/play.svg" />
									<img src="/images/pause.svg" />
								</div>
							</div>
							<div class="forward-fifteen">
								<img src="/images/plus15.svg" />
							</div>
							<div class="timeline">
								<div class="progress" style="width: 0%;"></div>
								<div class="time">
									<div class="current">0:00</div>
									<!-- <div class="divider">/</div> -->
									<div class="length">40:58</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pod-behind"></div>
		</div>
	</div>
</div>
